.checkout-choise-login {
    padding: 2rem;
    min-height: 100vh;
    background: var(--clr-g);

    h2 {
        font-size: 1rem;
        text-align: center;
    }

    .checkout-buttons {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: max-content;
            background-color: var(--clr-blue);
            border-radius: 3px;
            color: #fff;
            padding: 1rem 1.5rem;
            border: none;
        }

        .iniciar-google {
            background-color: var(--clr-google);
            &:hover {
                background-color:var(--clr-google-dark);
            }
            i {
                padding-right: 12px;
            }
        }

        .division {
            color: var(--clr-gl);
            padding-block: 15px;
            display: flex;
            align-items: center;

            .border-o-left {
                width: 5rem;
                height: 0.2px;
                background-color: var(--clr-gl);
            }

            span {
                padding-inline: 10px;
            }

            .border-o-right {
                width: 5rem;
                height: 0.2px;
                background-color: var(--clr-gl);
            }
        }
    }
}

.checkout-main {
    background-color: var(--clr-g);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    font-size: 0.9rem;

    .checkout-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .container-inputs {
            background-color: #fff;
            padding: 2rem 1.5rem;
            border-radius: 5px;
            border: 1.3px solid #dbdada;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .form-group {
                position: relative;
                border-bottom: 1px solid #dbdbdb;

                input {
                    padding: 0.6rem 3rem 0.6rem 0px;
                    border: none;
                    width: 250px;
                    height: 100%;
                    font-family: "Montserrat", sans-serif;
                    color: var(--clr-b);
                    outline: none;

                    &:focus+label,
                    &:not(:placeholder-shown)+label {
                        transform: translateY(-12px) scale(0.7);
                        transform-origin: left top;
                        color: var(--clr-blue);
                    }
                }

                label {
                    color: #a3a3a3;
                    position: absolute;
                    top: 0;
                    left: 5px;
                    transform: translateY(10px);
                    transition: transform 0.5s, color 0.3s;
                }

                .bi {
                    padding-right: 10px;
                    cursor: pointer;
                }
            }
        }

        .botones {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            button {
                border: none;
                width: max-content;
                background-color: var(--clr-blue);
                padding: 0.8rem 1rem;
                color: #fff;
            }

            p {
                font-size: 0.8rem;

                span {
                    cursor: pointer;
                    color: var(--clr-blue);

                    &:hover {
                        border-bottom: 1px solid var(--clr-blue);
                    }
                }
            }
        }

        .botones {
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                border: none;
                width: 200px;
                cursor: pointer;
                background-color: var(--clr-blue);
                padding: 0.8rem 0;
                border-radius: 5px;
                color: #fff;
                &:hover {
                    background-color: var(--clr-blue-dark);
                    transition: .4s;
                }
            }
            .logout {
                width: 150px;
                padding: 0.6rem;
                i {
                    padding-right: 10px;
                }
                background-color: var(--clr-red);
                &:hover {
                    background-color: var(--clr-red-dark);
                }
            }
        }
    }
}

@media screen and (min-width: 625px) {
    .checkout-choise-login {
        padding: 2rem;
        background: var(--clr-g);

        h2 {
            font-size: 1.5rem;
        }

        .checkout-buttons {
            padding-top: 2rem;

            button {
                width: 300px;
                padding: 0.7rem 0;
                cursor: pointer;

                &:hover {
                    background-color: #2f7aeb;
                    transition: 0.4s ease;
                }
            }

            .iniciar-google {
                i {
                    padding-right: 12px;
                }
            }

            .division {
                .border-o-left {
                    width: 120px;
                }

                .border-o-right {
                    width: 120px;
                }
            }
        }
    }

    .checkout-main {
        background-color: var(--clr-g);
        height: 100vh;
        display: flex;
        justify-content: center;
        padding-top: 3rem;

        .checkout-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 700px;

            .checkout-form-texts {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .msg-errors {
                    color: var(--clr-red);
                    font-size: .9rem;
                }
            }

            .container-inputs {
                background-color: #fff;
                padding: 2rem 1.5rem;
                border-radius: 5px;
                border: 1.3px solid #dbdada;
                display: grid;
                grid-template-columns: max-content max-content;
                gap: 3rem;

                .form-group {
                    position: relative;
                    border-bottom: 1px solid #dbdbdb;

                    input {
                        padding: 0.6rem 3rem 0.6rem 0px;
                        border: none;
                        height: 100%;
                        font-family: "Montserrat", sans-serif;
                        color: var(--clr-b);
                        outline: none;

                        &:focus+label,
                        &:not(:placeholder-shown)+label {
                            transform: translateY(-12px) scale(0.7);
                            transform-origin: left top;
                            color: var(--clr-blue);
                            background-color: #fff;
                        }
                    }

                    label {
                        color: #a3a3a3;
                        position: absolute;
                        top: 0;
                        left: 5px;
                        transform: translateY(10px);
                        transition: transform 0.5s, color 0.3s;
                    }
                }
            }

            .botones {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;

                button {
                    border: none;
                    width: max-content;
                    background-color: var(--clr-blue);
                    width: 200px;
                    border-radius: 5px;
                    cursor: pointer;
                    color: #fff;
                }

                p {
                    align-self: flex-end;
                    font-size: 0.7rem;
                    color: #807e7e;

                    span {
                        color: var(--clr-blue);

                        &:hover {
                            border-bottom: 1px solid var(--clr-blue);
                        }
                    }
                }
            }
        }
    }
}