
.header {
    background-color: var(--bg);
    padding-inline: .7rem;
}

.header-container {
    display: grid;
    row-gap: .5rem;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: max-content max-content;
    column-gap: .5rem;
    position: relative;
}

.logo {
    height: 50px;
    width: 50px;
    object-fit: contain;
    grid-column: 1 / 2;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.05);
    transition: .3s ease;
}

.entrada {
    width: 100%;
    height: 68%;
    position: relative;
    align-self: center;
    grid-column: span 6;
}

.bars {
    grid-column: span 2;
    align-self: center;
    justify-self: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.cart-mobile {
    align-self: center;
    justify-self: center;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--clr-b);
}

.entrada input {
    width: 100%;
    height: 100%;
    padding: 4px 10px 4px 30px;
    outline: none;
    border: none;
    border-radius: .15rem;
    border: 1.5px solid transparent;
    position: absolute;
}

.entrada input::placeholder {
    color: #d2d0d0;
}

.entrada input:focus {
    border: 1.5px solid var(--clr-blue);
}

.lupa {
    position: absolute;
    top: 25%;
    bottom: 25%;
    bottom: 1rem;
    color: #d2d0d0;
    border-left: 1px solid #d2d0d0;
    padding-left: .5rem;
    font-size: .9rem;
}

.msg-sale {
    justify-self: center;
    align-self: center;
    height: 2.5rem;
    display: none; /* Se muestra en desktop */
}

.msg-ubicacion {
    margin-top: -.5rem;
    font-size: .8rem;
    display: flex;
    grid-row: 2;
    grid-column: 1 / -1;
    position: relative;
    padding-block: .8rem;
}

.msg-ubicacion::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1.5px solid #97959553;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}

.location {
    margin-top: -.2rem;
    color: var(--clr-b);
    padding-right: .5rem;
    font-size: 1rem;
}

.ubicacion-text {
    display: flex;
    gap: 0.5rem;
    color: #666;
}

.ubicacion-text span {
    color: var(--clr-b);
}

.nav {
    align-self: end;
    justify-content: flex-start;
    background-color: #f8f6f6;
    padding: 1rem;
    width: 100vw;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: none; /* Se muestra en desktop */
}

.show-nav {
    display: block;
}

.disabled-nav {
    display: none;
}

.nav ul {
    font-size: 0.8rem;
    color: rgba(51,51,51,.6);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    margin: 2px;
}

.nav-ul li{
    cursor: pointer;
    color: var(--clr-b);
    font-weight: 600;
}

.li-categoria {
    position: relative;
    
}

.li-categoria::after {
    content: "";
    border-style: solid;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    height: 1px;
    width: 1px;
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 50%;
    top: 50%;
    right: -13px;
    transform: rotate(45deg) translate(-50%,-50%);
    color: rgba(0,0,0,.3);
    margin: 0;
    padding: 2px;
}

.submenu {
    position: absolute;
    right: 40px;
    background-color: #333;
    border-radius: 5px;
    margin-top: 0.3rem;
    padding: 1rem 0;
    display: none;
    cursor: auto;
}

.li-categoria:hover .submenu,
.li-categoria:focus .submenu {
    display: block;
}

.submenu::after {
    content: '';
    position: absolute;
    top: -8px;
    right: 0;
    bottom: 0;
    left: 85%;
    background-color: #333;
    clip-path: polygon(50% 0%, 0 47%, 100% 46%);
    height: 20px;
    width: 20px;
}

.li-categoria:before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: -17px;
    bottom: -1.5rem;
    z-index: 1;
}

.submenu ul {
    color: #fff;
    display: block;
    flex-direction: column;
    justify-content: center;
}

.submenu ul li {
    font-weight: 600;
    color: var(--clr-g);
    display: flex;
    align-items: center;
    padding: .7rem 6rem .7rem 2rem;
}

.submenu ul li:hover {
    background-color: #3483fa;
    width: 100%;
    height: 100%;
    padding-block: .7rem;
}

.nav-secondary {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    color: var(--clr-b);
    align-self: end;
    justify-self: flex-start;
    display: flex;
    column-gap: 2rem;
    display: none; /* Se muestra en desktop */
}

.nav-secondary li {
    cursor: pointer;
}

.user-icon {
    font-size: 1rem;
    padding-right: 4px;
}

.bell {
    font-size: 1.2rem;
    position: absolute;
}

.cart-container {
    position: relative;
}

.cart {
    font-size: 1rem;
    color: #333;
}

.cart-numerito {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: .7rem;
    min-height: 15px;
    min-width: 15px;
    background-color: red;
    color: #fff;
    font-weight: bold;
}

/* --------- MEDIA QUERY HEADER ---------  */

@media screen and (min-width: 625px) {

    .header {
        padding-top: .5rem;
        background-color: var(--bg);
        padding-inline: 3rem;
    }
    
    .header-container {
        display: grid;
        row-gap: .5rem;
        grid-template-columns: 185px 1fr 1fr 1fr;
        grid-template-rows: max-content 40px;
    }
    
    .logo {
        height: 34px;
        width: 134px;
        grid-column: 1 / 2;
    }
    
    .entrada {
        width: 100%;
        height: 100%;
        position: relative;
        align-self: center;
        grid-column: 2 / 4;
        margin-left: -.5rem;
    }
    
    .bars {
        display: none;
    }
    
    .cart-mobile {
        display: none;
    }
    
    .entrada input {
        width: 100%;
        height: 100%;
        padding: 10px 60px 10px 15px;
        outline: none;
        border: none;
        border-radius: .15rem;
        border: 1.5px solid transparent;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
        position: absolute;
    }
    
    .entrada input::placeholder {
        color: #d2d0d0;
    }
    
    .entrada input:focus {
        border: 1.5px solid var(--clr-blue);
    }
    
    .lupa {
        top: 25%;
        bottom: 25%;
        right: 1rem;
        padding-left: 1rem;
    }
    
    .msg-sale {
        display: block;
        grid-column: 4 / -1;
        height: 39px;
        width: 340px;
    }
    
    .msg-ubicacion {
        align-self: flex-end;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        grid-row: 2;
        grid-column: 1 / 2;
        position: relative;
        padding-block: .8rem;
    }
    
    .msg-ubicacion::after {
        content: '';
        position: static;
        border-top: none;
        transform: none;
        width: auto;
    }
    
    .location {
        font-size: 1.3rem;
        margin-top: -1rem;
    }

    .ubicacion-text {
        flex-direction: column;
        gap: 0;
    }
    
    .nav {
        align-self: center;
        justify-content: stretch;
        background-color: inherit;
        padding: 0;
        width: auto;
        position: static;
        transform: none;
        display: flex;
        flex-direction: row;
        grid-row: 2;
        grid-column: 2 / 4;
    }
    
    .nav ul {
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding-left: 0;
        margin: 0; 
    }
    
    .nav-ul li{
        cursor: pointer;
        color: rgba(51,51,51,.6);
        font-weight: 400;
        font-size: 0.8rem;
    }

    .nav-ul li:hover {
        color: #333;
        transition: .3s ease;
    }
    
    .li-categoria {
        position: relative;
        margin-right: .7rem;
    }
    
    .submenu {
        position: absolute;
        right: -37px;
        background-color: #333;
        border-radius: 5px;
        margin-top: 0.7rem;
        padding: 2rem 0rem 2rem 0rem;
        display: none;
        cursor: auto;
        z-index: 999;
    }
    
    .li-categoria:hover .submenu,
    .li-categoria:active .submenu {
        display: block;
    }
    
    .li-categoria {
        position: relative;
        z-index: 1; 
    }
    
    .li-categoria:hover .submenu {
        margin-top: .7rem; 
        transition-delay: 0.3s;
    }
    
    .li-categoria:before {
        content: '';
        position: absolute;
        top: 0; 
        left: 0;
        right: -17px;
        bottom: -1.5rem;
        z-index: -1;
    }
    
    .submenu::after {
        content: '';
        position: absolute;
        top: -8px;
        right: 0;
        bottom: 0;
        left: 85%;
        background-color: #333;
        clip-path: polygon(50% 0%, 0 47%, 100% 46%);
        height: 20px;
        width: 20px;
    }
    
    .submenu ul {
        color: #fff;
        display: block;
        flex-direction: column;
        justify-content: center;
    }
    
    .submenu ul li {
        font-weight: 600;
        color: #fff;
        display: flex;
        align-items: center;
        padding: .7rem 6rem .7rem 2rem;
    }

    .submenu ul li:hover {
        background-color: #3483fa;
        color: #fff;
        width: 100%;
        transition: none;
        height: 100%;
        padding-block: .7rem;
    }
    
    .nav-secondary {
        margin: 0;
        padding: 0;
        font-size: .8rem;
        color: var(--clr-b);
        align-self: center;
        justify-self: flex-start;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: row;
        grid-row: 2;
        grid-column: 4 / 5;
        column-gap: 2rem;
    }
    
    .nav-secondary li {
        cursor: pointer;
        font-size: 0.8fcrem;
    }

    .li-bell,
    .li-cart {
        align-self:flex-start;
    }
}