
.items-container { 
    margin-top: -4px;
    background-color: var(--clr-g);
    padding: 2rem 1.5rem;
    display: block;
}

.cards {
    padding: 1rem 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    overflow: hidden;
}

.card {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    max-width: 1184px;
}


.card-texts p {
    font-weight: 500;
}

.card-texts button {
    background-color: inherit;
    border: none;
    color: var(--clr-blue);
    cursor: pointer;
}

.card-plus {
    position: relative;
}

.card-plus::before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    right: 0;
    left: -35px;
    height: 400px;
    border-left: 1.3px solid var(--clr-wg);
}

/* ------------ MEDIA QUERY CARD --------------- */

    @media screen and (max-width: 625px) {
        
        .items-container {
            display: flex;
            justify-content: center;
        }

        .card {
            padding-inline: 1rem;
        }

        .card-desktop {
            display: none;
        }

    }