
/* --------- ITEM CONTAINER --------  */
.items-container { 
    margin-top: -4px;
    background-color: var(--clr-g);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .cards {
        padding: 1rem 0;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        border-radius: 4px;
        overflow: hidden;

        .card {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

       
        .card-texts p {
            font-weight: 500;
        }

        .card-texts button {
            background-color: inherit;
            border: none;
            color: var(--clr-blue);
            cursor: pointer;
        }

        .card-plus {
            position: relative;

            &::before {
                position: absolute ;
                content: '' ;
                top: 50% ;
                transform: translateY(-50%) ;
                bottom: 0 ;
                right: 0 ;
                left: -35px ;
                height: 400px ;
                border-left: 1.3px solid var(--clr-wg) ;
            }
        }
    }
}


/* --------- PRODUCTOS --------- */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    .producto {
        min-height: 400px;
        width: 260px;
        background-color: #fff;
        border: 1px solid var(--clr-g);
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;

        img {
            border-radius: 10px 10px 0 0;
            height: 280px;
            width: 100%;
            object-fit: contain;

            &:hover {
                transform: scale(1.05);
                transition: .2s ease;
            }
        }

        .producto-texts {
            border-top: 1px solid var(--clr-g);
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            .price {
                font-size: 1.4rem;
                font-weight: 500;
            }

            span {
                font-size: 14px;
                min-height: 40px;
            }

            button {
                border: none;
                background-color: rgba(65,137,230,.15);
                color: var(--clr-blue);
                font-weight: 600;
                border-radius: 5px;
                font-size: 14px;
                height: 32px;
                line-height: 32px;
                padding: 0 40px;
                cursor: pointer;
            }
            
        }
        &:hover {
            box-shadow: 0 25px 20px 0 rgba(0,0,0,.16), 0 -1px 2px 0 rgba(0,0,0,.1);
            transition: .3s ease;
        }
    }
}


/* --------- ITEM DETAIL --------- */
.wrapperDetail {
    background-color: var(--clr-g);
    position: relative;
    padding-top: 2rem;
    background-color: #fff;

    .detail-back {
        position: absolute;
        top: 8px;
        left: 20px;
        color: var(--clr-blue);
        font-size: .9rem;
        &:hover {
            border-bottom:1px solid var(--clr-blue);
        }
    }
    
    .itemDetailContainer {
        background-color: #fff;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
        border-top: 1px solid var(--clr-wg);
        .imgs {
            display: none;
        }
    
        .img-deploy {
            max-width: 300px;
        }
        
        .item-texts {
            padding-top: 1.5rem;
            .item-name {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                p {
                    font-size: 0.7rem;
                    color: var(--clr-gl);
                }
                h2 {
                    font-size: 1rem;
                    font-weight: 500;
                    
                }
            }
    
            .item-price {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                p {
                    font-size: 1.8rem;
                    letter-spacing: 2px;
                    font-weight: 500;
                }
                span {
                    font-weight: 500;
                }
            }
    
            .item-description {
                margin-top: 1rem;
    
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    margin-left: .8rem;
                    li {
                        color: var(--clr-gl);
                        list-style-type: inherit;
                        font-size: .7rem;
                    }
                }
            }
        }
    
        .item-buy {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            .text {
                color: var(--clr-blue);
                font-weight: 400;
            }
            .cantidad {
                display: flex;
                align-items: center;
                gap: 1rem;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--clr-blue);
                    color: #fff;
                    border: none;
                    font-size: 1rem;
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                }
                p {
                    font-weight: 600;
                }
            }
        }
    
        button {
            border: none;
            background-color: var(--clr-blue-light);
            padding: 1rem;
            border-radius: 5px;
            color: var(--clr-blue);
            font-weight: 600;
            font-size: .9rem;
            cursor: pointer;
            &:hover {
                background-color: #4189e636;
                transition: .3s ease;
            }
        }
    }
}

@media screen and (min-width: 625px) {
    .wrapperDetail {
        padding: 3rem 2rem;
        background-color: var(--clr-g);     
        
        .detail-back {
            left: 38px;
            top: 18px;
        }

        .itemDetailContainer {
            border: 1px solid var(--clr-gl2);
            border-radius: 5px;
            padding: 2rem 1rem;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(10,1fr);
        
            .imgs {
                grid-column: 1 / 2;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                img {
                    width: 50px;
                    border: 1px solid var(--clr-gl);
                    border-radius: 5px;
                    cursor: pointer;
    
                    &:hover {
                        border: 2px solid var(--clr-blue);
                    }
                    &.img--active {
                        border: 2px solid var(--clr-blue) ;
                    }
                }
            }
    
            .img-deploy {
                grid-column: 2 / 5;
                width: 100%;
            }
            
            .item-texts {
                grid-column: 5 / 8;
                padding-top: 0;
                .item-name {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    p {
                        font-size: .8rem;
                        color: var(--clr-gl);
                    }
                    h2 {
                        font-size: 1.3rem;
                        font-weight: 600;
                        
                    }
                }
        
                .item-price {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    p {
                        font-size: 2.5rem;
                        letter-spacing: 3px;
                        font-weight: 300;
                    }
                    span {
                        font-weight: 300;
                    }
                }
        
                .item-description {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        margin-left: 1rem;
                        li {
                            font-size: .8rem;
                            color: var(--clr-gl);
                            list-style-type: inherit;
                            position: relative;
                        }

                    }
                }
            }
        
            .item-buy {
                grid-column: 8 / -1;
                margin: 0;
                border: 1px solid var(--clr-gl);
                padding: 1rem;
                border-radius: 8px;
                justify-content: space-around;
            }
        }
    }
    
}


/* ------------ MEDIA QUERY CARD --------------- */

    @media screen and (max-width: 625px) {
        
        .items-container {
            display: flex;
            justify-content: center;
            gap: 3rem;

            .card {
                padding-inline: 1rem;
            }
    
            .card-desktop {
                display: none !important;
            }
        }

    }