:root {
    --bg:#fff159;
    --clr-b:#333;
    --clr-g:#ededed;
    --clr-q: #e4e4e4;
    --clr-blue: #3483fa;
    --clr-blue-light: #4189e626;
    --clr-wg: #f1f1f1;
    --clr-gl: #acacac;
    --clr-gl2: #e7e7e7;
    --clr-green: #25D366;
}